/* project styles */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

p {
    color: hsl(220, 15%, 55%);
}

img {
    display:block;
    border-radius: 8px;
    margin: 0 auto;
    width: 80%;
}

/* classes provided by frontendmentor */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }