/* project styles */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

p {
    color: hsl(220, 15%, 55%);
}

img {
    display:block;
    border-radius: 15px;
    margin: 5px auto;
    width: 380px;
    height: 380px;
}

.card {
    width: 380px;
    height: 640px;
    margin: 100px auto;
    padding: 10px;
    background-color:  hsl(0, 0%, 100%);
    border: 10px solid hsl(0, 0%, 100%);
    border-radius: 15px;
    text-align: center;
}

.msg {
    margin: 0 20px;
    text-align: center;
    padding: 0 30px;
}

/* classes provided by frontendmentor */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }